body {
  background-color:#DEEAF6;
  text-align: center;
}

.error {
    color: red;
}

h1 {
  font-size: 20px;
  padding:10px 0;
}

button {
    font-size: 20px;
    border-radius: 20px;
    color: white;
    background-color: #4472C4;
    padding: 5px 30px;
    margin: 20px 0;
}

.button02 {
    font-size: 20px;
    border-radius: 20px;
    color: #4472C4;
    background-color: white;
    padding: 5px 30px;
    margin: 5px 0;
}